@Scripts.Render("~/Scripts/Exemptions.js")
@using custom_study_plan_generator.MetaObjects

<div class="body">
    <div id="backerCP" class="backerCP">
        <div id="textCP" class="textCP">
            <div class="CPcol1 inline">
                <div class="inline">
                    Student:
                </div>
                <div class="inline">
                    XYZ
                </div>
            </div>

            <div class="headingCP pagewideFont inline CPcol2">
                Create Mode
            </div>

            <div class="CPcol3 inline">
                <div class="inline">
                    Course:
                </div>
                <div class="inline">
                    Course 1
                </div>
            </div>
            <div class="inline CPcol1desc">

            </div>
            <div class="pagewideFont CPcol2desc inline">
                Mark any exemptions, then click "Remove Exemptions" to remove selected units. Click "Next" when done.
            </div>
            <div class="inline CPcol3desc">

                <button id="removeExemptions" type="button" class="CPButton" name="removeExemptions" value="removeExemptions" title="Remove Exemptions">Remove Exemptions</button><br />

                @using (Html.BeginForm("Exemptions", "Home", FormMethod.Post))
                {
                    <button type="submit" class="CPButton2" name="next" value="next" title="Next Step">Next</button>
                }

            </div>

            @{
                List<CoursePlan> coursePlan = (List<CoursePlan>)Session["StudentPlan"];
            }

            <script>
                var numUnits = '@(Session["numUnits"])';
                var converted = JSON.parse('@Html.Raw(Json.Encode(coursePlan))');
            </script>

            @if (Session["numUnits"].ToString() == "24")
            {

                @:<div id="planTable" class="planTable">
                    <div class="row1">
                        <div id="topCell" class="inlineGrid planHeader header1">
                            Sem 1
                        </div>
                        <div class="inlineGrid planHeader header2">
                            Sem 2
                        </div>
                        <div class="inlineGrid planHeader header3">
                            Sem 3
                        </div>
                        <div class="inlineGrid planHeader header4">
                            Sem 4
                        </div>
                        <div class="inlineGrid planHeader header5">
                            Sem 5
                        </div>
                        <div class="inlineGrid planHeader header6">
                            Sem 6
                        </div>
                    </div>
            }

            else
            {
                @:<div id="planTable" class="planTable">
                    <div class="row1">
                        <div id="topCell" class="inlineGrid planHeader header1">
                            Sem 1
                        </div>
                        <div class="inlineGrid planHeader header2">
                            Sem 2
                        </div>
                        <div class="inlineGrid planHeader header3">
                            Sem 3
                        </div>
                        <div class="inlineGrid planHeader header4">
                            Sem 4
                        </div>
                        <div class="inlineGrid planHeader header5">
                            Sem 5
                        </div>
                        <div class="inlineGrid planHeader header6">
                            Sem 6
                        </div>
                        <div class="inlineGrid planHeader header6">
                            Sem 7
                        </div>
                        <div class="inlineGrid planHeader header6">
                            Sem 8
                        </div>
                    </div>
            }

            @if (Session["numUnits"].ToString() == "24")
            {


                var count = 1;
                var countRow = 2;
                var countCell = 1;
                var countCol = 1;
                string rowClass = "";
                string idCell = "";
                string idCont = "";
                string col = "";

                foreach (var item in coursePlan)
                {

                    rowClass = "row" + countRow;
                    idCell = countCell.ToString();
                    idCont = "p" + countCell;


                    if (count % 6 == 1)
                    {
                        @:<div class="@rowClass">
                                    countCol = 1;
                    }

                    col = "col" + countCol;

                    if (count == 24)
                    {
                        <div id="@idCont" class="inlineGrid @col cell  lastRow">
                            <div id="@idCell" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="@idCont" class="inlineGrid @col cell lastRow">
                            <div id="@idCell" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                    }
                    if (count % 6 == 0)
                    {
                        @:
                    </div>
                            countCell = countRow;
                            countRow++;
                    }


                    if (count % 6 != 0)
                    {
                        countCell += 4;
                    }
                    count++;
                    countCol++;
                }
            }

            else
            {
                var count = 1;
                var countRow = 2;
                var countCell = 1;
                var countCol = 1;
                string rowClass = "";
                string idCell = "";
                string idCont = "";
                string col = "";

                foreach (var item in coursePlan)
                {

                    rowClass = "row" + countRow;
                    idCell = countCell.ToString();
                    idCont = "p" + countCell;


                    if (count % 8 == 1)
                    {
                        @:<div class="@rowClass">
                                    countCol = 1;
                    }

                    col = "col" + countCol;

                    if (count == 32)
                    {
                        <div id="@idCont" class="inlineGrid @col cell  lastRow">
                            <div id="@idCell" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="@idCont" class="inlineGrid @col cell lastRow">
                            <div id="@idCell" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                    }
                    if (count % 8 == 0)
                    {
                        @:
                    </div>
                            countCell = countRow;
                            countRow++;
                    }

                    if (count % 8 != 0)
                    {
                        countCell += 4;
                    }
                    count++;
                    countCol++;
                }
            }





        </div>
    </div>
</div>
