@model custom_study_plan_generator.Models.UnitPrerequisite

<div class="CRUDHeadingHolder">

    <h2>Add Prerequisite</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>UnitPrerequisite</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                Unit Name
                <div class="col-md-10">
                    @Html.DropDownList("unit_code", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                Prerequisite Name
                <div class="col-md-10">
                    @Html.DropDownList("prereq_code", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.mutiple_required, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.mutiple_required)
                        @Html.ValidationMessageFor(model => model.mutiple_required, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
