@model custom_study_plan_generator.Models.UnitPrerequisite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UnitPrerequisite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mutiple_required)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mutiple_required)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
