@model IEnumerable<custom_study_plan_generator.Models.UnitPrerequisite>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mutiple_required)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit1.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mutiple_required)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.name)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
