<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Study Plan Generator</title>
    @Styles.Render("~/Content/Custom.css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Scripts", required: false)

</head>
<body>
   
    <header class="header">
        <div class="pageTitle">
            Custom Study Plan Generator
        </div>

    </header>
    
    @RenderBody()
    <footer class="footer">
        <div>&copy; @DateTime.Now.Year - Custom Study Plan Generator</div>
    </footer>
</body>
</html>
